<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cbnu.dementiadiagnosis">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DementiaDiagnosis"
        android:usesCleartextTraffic="true">
        <activity
            android:name="simpleTest.S_execution"
            android:exported="false" />
        <activity
            android:name="simpleTest.S_language"
            android:exported="false" />
        <activity
            android:name=".Result"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SimpleTestActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizHOME" />
        <activity android:name=".Map" />
        <activity android:name="QuizPage.orientation_Page" />
        <activity android:name="QuizPage.memoryInput_Page" />
        <activity android:name="QuizPage.attention_Page" />
        <activity android:name="QuizPage.ExecutionPage" />
        <activity android:name="QuizPage.memoryOutput_Page" />
        <activity android:name="QuizPage.fluency_Page" />
        <activity android:name="QuizPage.SpaceTimePage" />
        <activity android:name="QuizPage.ComprehensionPage" />
        <activity android:name="QuizPage.LanguagePage" />

        <activity android:name="simpleTest.S_orientation" />
        <activity android:name="simpleTest.S_fluency_Page" />
        <activity android:name="simpleTest.S_memoryInput" />
        <activity android:name="simpleTest.S_attention" />
        <activity android:name="simpleTest.S_memoryOutput" />
        <activity android:name="simpleTest.S_SpaceTime" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="deeed953cb0bd5ce8fb32d971a0039d7" />
    </application>

</manifest>